.Button {
    background-color: #CC391B;
    color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 100%; 
    height: 56px;
    cursor: pointer;
    text-align: center;
  }